*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(193, 222, 222);
}

header{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.nav-logo{
    padding-left: 40px;
}
.nav-bar a{
    display: inline;
    font-size: 20px;
    margin: 20px 10px;
    padding: 5px 10px;
}

/* header part end here */

/* main part start here */

.section-content h1{
    font-size: 150px;
    padding: 20px 50px;
}
.food-card-1{grid-area: card-1;}
.food-card-2{grid-area: card-2;}
.food-card-3{grid-area: card-3;}
.food-card-4{grid-area: card-4;}
.food-item{
    display: grid;
    grid-template-areas: 
             'card-1 card-2 card-3 card-4'
    ;
}

/* main part ends here */